# Ignore The following directories / file extensions
/Library
Temp
build
/obj

# Ignore the following file extensions
*.exe
*.vcproject
*.sln
*.userprefs
*.vcproject
*.sln
*.suo
*.cache
*.csproj
*.unityproj
*.pidb
*.so
*.DS_Store